body {
  font-family: Arial;
}

#mainImg {
  width: 35%;
}

.box {
  border: 0.25px solid black;
  background-color: lightgray;
  width: 200px;
  padding: 1rem;
}

.boxLink {
  text-decoration: none;
}

.oldImg {
  height: 200px;
  width: 200px;
  margin-right: 1rem;
}

#description {
  background-color: antiquewhite;
}

.a, .x{
  height: 500px;
  width: 500px;
  border: 10px solid black;
}
.b, .y{
  height: 300px;
  width: 300px;
  border: 5px solid blue;
}
.c, .z{
  height: 150px;
  width: 150px;
  border: 2px solid red;
}