.color h1{
    color: blue;
    background-color: gray;
}
.color p{
    color: red;
    background-color: cornsilk;
}
.color button{
    color: gold;
    background: black;
    background-color: red;
}

.text h1{
    text-align: center;
    font-size: 100px;
    font-family: Arial;
}
.text .ph1{
    font-size: 25px;
    font-family: avant garde, jokerman, arial ;
}
.text h3{
    text-align: right;
    font-family: Impact;
}
.text .ph3{
    text-align: justify;
}
.text h2{
    font-weight: 400;
    text-decoration:  wavy underline ;
    text-decoration-color: blue;
    word-spacing: 200px;
}
.text .ph2{
    text-decoration: underline overline  line-through ;
}
.text a{
    text-decoration: none;
}

.text .ph4{
    line-height: 2.5;
    letter-spacing: 2px;
}