*{
    font-family: 'Courier New';
}

h3,
h1{
    color: #b92b37;
}

#login{
    background-color: white;
}

#signup{
    background-color: #b92b37;
    color: white;
}

.upvote{
    background-color: green;
    color: aliceblue;
}

/* descendant selectors */
.post a{
    color: purple;
    background-color: yellow;
}

nav ul li a{
    color: hotpink;
}

/* adjacent sibling combinator */
p + h3{
    text-decoration: underline;
}

.upvote + button{
    background-color: cornflowerblue;
}

/* child combinator */
div > input{
    background-color: lightcyan;
}

/* Attribute Selectors */
input[type="text"]{
    color: red;
}

input[type="password"]{
    color: green;
}

input[type]{
    background-color: ghostwhite;
}


/* pseudo-classes */
button:hover{
    background-color: black;
    color: gold;
}

h3:hover {
    text-decoration: overline underline;
}

button:active{
    background-color: hotpink;
    color: black;
}

p:active{
    font-weight: bold;
    color: green;
}

input[type="radio"]:checked + label{
    color: red;
    font-weight: bold;
}

div:nth-of-type(2n){
    background-color: blanchedalmond;
}

/* pseudo-elements */
h1::first-letter{
    color: black ;
}

#exp::first-line{
    color: purple;
}

p::selection{
    background-color: gold;
}

/*Cascading and Specificity */
h3{
    background-color: yellow;
}

h3{
    background-color: blue;
}

/* !important */
h3{
    background-color: silver !important;
}
