body {
    margin: 50px;
}

.row {
    height: 20%;
    display: flex;
    justify-content: center;
}

.container {
    height: 200px;
    width: 15%;
    margin: 30px;
    border-radius: 15px;
    box-shadow: -3px 7px 20px burlywood;
}

.container-lg {
    height: 220px;
}

.box {
    height: 130px;
    border-radius: 15px 15px 0 0;
    margin-bottom: 15px;
}

.text {
    margin-left: 15px;
    font-size: large;
    font-weight: 550;
    font-family: Arial;
}